@media screen and  (min-width:60em){
    nav ul.open{
        display: none;
      }
      .phone{
          grid-column: 2/3;

      }
      nav{
          grid-column: 5/10;
          justify-self: center;
      }
      nav ul li a{
          text-align: center;
      }
      nav button {
        display: none;
      }
    
      nav ul#navicon {
        display: flex;
        margin-left: auto;
      }
      .banner{
          width: 99%;
      }
      .book-now{
          font-size: 26px;
      }

      footer{
          grid-template-columns: 1fr 1fr;
      }
      .full-time-m{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .thanks-message{
        grid-column: 1/4;
        grid-row: 1/2;
        padding: 10px;
    }
}